/* 代码整理：大头网 www.datouwang.com */
body {
    font: .85em/1.2 "微软雅黑", "microsoft yahei", arial;
    background: #f2f2f2;
    background: linear-gradient(left, #f2f2f2, #dddddd);
    background: -moz-linear-gradient(left, #f2f2f2, #dddddd);
    background: -webkit-linear-gradient(left, #f2f2f2, #dddddd);
    background: -o-linear-gradient(left, #f2f2f2, #dddddd);
}

a:focus {
    outline: none;
}

h3 {
    text-shadow: 0 2px #ccc;
}

.tc {
    text-align: center;
}

#navs {
    position: fixed;
    right: 400px;
    top: 400px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

#navs>li,
#navs:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #4ECDC4;
}

#navs>li {
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: .6s;
}

#navs:after {
    content: attr(data-close);
    z-index: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

#navs.active:after {
    content: attr(data-open);
}

#navs a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
}